html{
    font-size: 100%;
}
main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    height: 30rem;
    margin: 5rem;
}
.big-cubes{
    border: solid 1px black;
    grid-area: auto/auto;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
.small-cubes{
    border: solid 1px black;
    grid-area: auto/auto;
}